In [ ]:
import pandas as pd
import numpy as np

# this code generate a realistic construction payroll data
data = {
    "worker_id": ["HRC-" + str(1000+i) for i in range(50)],
    "first_name": [f"First_{i}" for i in range(50)],
    "last_name": [f"Last_{i}" for i in range(50)],
    "position": np.random.choice(["Carpenter", "Electrician", "Plumber", "Foreman"], 50),
    "hourly_rate": np.round(np.random.normal(25, 5, 50), 2),
    "hours_worked": np.random.randint(30, 50, 50),
    "overtime_hours": np.random.randint(0, 20, 50)
}

df = pd.DataFrame(data)
df["gross_pay"] = (df["hourly_rate"] * df["hours_worked"] + 
                   df["overtime_hours"] * 1.5 * df["hourly_rate"])

# here am Saving it to a CSV file
df.to_csv("construction_payroll.csv", index=False)
print("Sample payroll data created as construction_payroll.csv")
display(df.head())

Sample payroll data created as construction_payroll.csv

,worker_id,first_name,last_name,position,hourly_rate,hours_worked,overtime_hours,gross_pay
0,HRC-1000,First_0,Last_0,Carpenter,33.08,39,10,1786.320
1,HRC-1001,First_1,Last_1,Carpenter,20.44,42,4,981.120
2,HRC-1002,First_2,Last_2,Plumber,25.19,36,6,1133.550
3,HRC-1003,First_3,Last_3,Carpenter,21.67,45,14,1430.220
4,HRC-1004,First_4,Last_4,Plumber,19.43,45,5,1020.075

In [7]:
def get_employee_details(name):
    try:
        # Search first or last name
        employee = df[df["first_name"].str.contains(name, case=False) | 
                   df["last_name"].str.contains(name, case=False)]
        if employee.empty:
            raise ValueError(f"No employee matching '{name}' found")
        return employee.to_dict("records")[0]
    except Exception as e:
        print(f"Error: {e}")
        return None

# Test it
get_employee_details("First_1")  # Should return first worker

{'worker_id': 'HRC-1001',
 'first_name': 'First_1',
 'last_name': 'Last_1',
 'position': 'Carpenter',
 'hourly_rate': 20.44,
 'hours_worked': 42,
 'overtime_hours': 4,
 'gross_pay': 981.12}

In [8]:
import os
import zipfile

def export_employee(name):
    try:
        details = get_employee_details(name)
        if not details:
            return False
            
        os.makedirs("Employee_Profile", exist_ok=True)
        filename = f"{details['first_name']}_{details['last_name']}_details.csv"
        filepath = f"Employee_Profile/{filename}"
        
        pd.DataFrame([details]).to_csv(filepath, index=False)
        
        with zipfile.ZipFile("Employee_Profile.zip", "w") as zipf:
            zipf.write(filepath, arcname=filename)
        
        print(f"Successfully exported {name} to Employee_Profile.zip")
        return True
    except Exception as e:
        print(f"Export failed: {e}")
        return False

# Test export
export_employee("First_1")

Successfully exported First_1 to Employee_Profile.zip

True